* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

textarea {
    resize: none;
}

.blur-active::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 520%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.preloader {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    z-index: 999999;
}

.kbw-signature {
    height: 120px;
    width: 100%;
}